body {
    
    padding-top: 100px;
    background: url('/static/blog/images/clouds.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
    text-index: -9999px;
    width: 1px;
    height: 1px;
}