{% extends 'blog/base.html' %}
{% load static %}
{% block main_area %}
{% block head_area%}
    <link rel='stylesheet' href = "{% static 'ml/css/inputdata.css' %}" media = 'screen'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a29a18ec27.js" crossorigin="anonymous"></script>
{% endblock %}
<body>
    <div class="col-14" id="main-area">
        <div class="text-center ml-4" style="color:white">
            <h1>Survival prediction!</h1>
        </div>
        <div class="text-center container my-3">
            <div class="row">  
                <form action = "ml_result">
                    {% for colunm in columns %}
                    <label for="FormControlInput{{ colunm }}"  class="badge bg-secondary text-white h1" style="width: 10rem; font-size: 24px">{{ colunm }}</label>
                    <input name={{ colunm }} id="FormControlInput{{ colunm }}" placeholder="{{ colunm }}" onfocus="this.placeholder = ''" onblur="this.placeholder='{{ colunm }}'" ></input>
                    {% endfor %}             
                        <br/>
                        <br/> 
                    </span>        
                    <button type=submit class='btn btn-lg btn-primary btn-lg btn-block' id='submitbnt'>Let's Predict</button>
                </form>
            </div>
        </div>
    </div>
</body>
<!--입력완료에 따른 버튼 활성화 --> 
<script> 
    {% for colunm in columns %}
    const {{ colunm }} = document.querySelector('#FormControlInput{{ colunm }}');
    {{ colunm }}.addEventListener('keyup', activeEvent);
    {% endfor %}
    const sumbitbnt = document.querySelector('#submitbnt');
    sumbitbnt.disabled = true;
    function activeEvent() {
        switch(!(fare_cat.value && age_cat.value && family.value && sex_female.value && sex_male.value && embarked_C.value && embarked_Q.value && embarked_S.value)){     
            case true : sumbitbnt.disabled = true; break;
            case false :sumbitbnt.disabled = false; break;
        }
    }

</script>
</html>
{% endblock %}
{% block widget_area %}
{% endblock %}



            {% for colunm in columns %}
            <label for="FormControlInput{{ colunm }}"  class="badge bg-info text-white h1" style="width: 10rem; font-size: 24px">{{ colunm }}</label>
            <input name={{ colunm }} id="FormControlInput{{ colunm }}" placeholder="{{ colunm }}" onfocus="this.placeholder = ''" onblur="this.placeholder='{{ colunm }}'" ></input>
            {% endfor %}



 <!--입력완료에 따른 버튼 활성화 --> 
{% comment %} <script> 
    {% for colunm in columns %}
    const {{ colunm }} = document.querySelector('#FormControlInput{{ colunm }}');
    {{ colunm }}.addEventListener('keyup', activeEvent);
    {% endfor %}
    const sumbitbnt = document.querySelector('#submitbnt');
    sumbitbnt.disabled = true;
    function activeEvent() {
        if(fare_cat.value !== '' && age_cat.value !== '' && family.value !== '' && sex_female.value !== '' && sex_male.value !== '' && embarked_C.value !== '' &&embarked_Q.value!== '' && embarked_S.value !== ''){
            sumbitbnt.disabled = false; {% endcomment %}
        {% comment %} }
    } 

</script> {% endcomment %} 

<span class="col-md-6 col-lg-6">
    <div>
        <label for="FormControlInputfare_cat"  class="badge bg-info text-white h1" style="width: 15rem; font-size: 24px">fare_cat</label>
        <input name=fare_cat id="FormControlInputfare_cat" type="radio" value=2 class='mr-2 ml-2'>T(2)</input>
        <input name=fare_cat id="FormControlInputfare_cat" type="radio" value=1 class='mr-2 ml-2'>S(1)</input>
        <input name=fare_cat id="FormControlInputfare_cat" type="radio" value=0 class='mr-2 ml-2'>F(0)</input>
    </div>
    <div>
        <label for="FormControlInputage_cat"  class="badge bg-info text-white h1" style="width: 15rem; font-size: 24px">age_cat</label>
        <input name=age_cat id="FormControlInputage_cat" type="radio" value=1 class='mr-2 ml-2'>Y(1)</input>
        <input name=age_cat id="FormControlInputage_cat" type="radio" value=0 class='mr-2 ml-2'>N(0)</input>
    </div>
    <div>
        <label for="FormControlInputfamily"  class="badge bg-info text-white h1" style="width: 15rem; font-size: 24px">family</label>
        <input name=family id="FormControlInputfamily" type="radio" value=1 class='mr-2 ml-2'>Y(1)</input>
        <input name=family id="FormControlInputfamily" type="radio" value=0 class='mr-2 ml-2'>N(0)</input>
    </div>
    <div>
        <label for="FormControlInputsex_female"  class="badge bg-info text-white h1" style="width: 15rem; font-size: 24px">sex_female</label>
        <input name=sex_female id="FormControlInputsex_female" type="radio" value=1 class='mr-2 ml-2'>Y(1)</input>
        <input name=sex_female id="FormControlInputsex_female" type="radio" value=0 class='mr-2 ml-2'>N(0)</input>
    </div>
</span>
<span class="col-md-6 col-lg-6">
    <div>
        <label for="FormControlInputsex_male"  class="badge bg-info text-white h1" style="width: 15rem; font-size: 24px">sex_male</label>
        <input name=sex_male id="FormControlInputsex_male" type="radio" value=1 class='mr-2 ml-2'>Y(1)</input>
        <input name=sex_male id="FormControlInputsex_male" type="radio" value=0 class='mr-2 ml-2'>N(0)</input>
    </div>
    <div>
        <label for="FormControlInputembarked_C"  class="badge bg-info text-white h1" style="width: 15rem; font-size: 24px">embarked_C</label>
        <input name=embarked_C id="FormControlInputembarked_C" type="radio" value=1 class='mr-2 ml-2'>Y(1)</input>
        <input name=embarked_C id="FormControlInputembarked_C" type="radio" value=0 class='mr-2 ml-2'>N(0)</input>
    </div>
    <div>
        <label for="FormControlInputembarked_Q"  class="badge bg-info text-white h1" style="width: 15rem; font-size: 24px">embarked_Q</label>
        <input name=embarked_Q id="FormControlInputembarked_Q" type="radio" value=1 class='mr-2 ml-2'>Y(1)</input>
        <input name=embarked_Q id="FormControlInputembarked_Q" type="radio" value=0 class='mr-2 ml-2'>N(0)</input>
    </div>
    <div>
        <label for="FormControlInputembarked_S"  class="badge bg-info text-white h1" style="width: 15rem; font-size: 24px">embarked_S</label>
        <input name=embarked_S id="FormControlInputembarked_S" type="radio" value=1 class='mr-2 ml-2'>Y(1)</input>
        <input name=embarked_S id="FormControlInputembarked_S" type="radio" value=0 class='mr-2 ml-2'>N(0)</input>
    </div>

{% comment %} 
    const fare_cat = document.querySelector('#FormControlInputfare_cat');
    fare_cat.addEventListener('keyup', activeEvent);

    const age_cat = document.querySelector('#FormControlInputage_cat');
    age_cat.addEventListener('keyup', activeEvent);

    const family = document.querySelector('#FormControlInputfamily');
    family.addEventListener('keyup', activeEvent);
    
    const sex_female = document.querySelector('#FormControlInputsex_female');
    sex_female.addEventListener('keyup', activeEvent);
    
    const sex_male = document.querySelector('#FormControlInputsex_male');
    sex_male.addEventListener('keyup', activeEvent);

    const embarked_C = document.querySelector('#FormControlInputembarked_C');
    embarked_C.addEventListener('keyup', activeEvent);

    const embarked_Q = document.querySelector('#FormControlInputembarked_Q');
    embarked_Q.addEventListener('keyup', activeEvent);

    const embarked_S = document.querySelector('#FormControlInputembarked_S');
    embarked_S.addEventListener('keyup', activeEvent);
    
    const sumbitbnt = document.querySelector('#submitbnt');
    sumbitbnt.disabled = true;
    
    function activeEvent() {
        if(fare_cat.value !== '' && age_cat.value !== '' && family.value !== '' && sex_female.value !== '' && sex_male.value !== '' && embarked_C.value !== '' &&embarked_Q.value!== '' && embarked_S.value !== ''){
            sumbitbnt.disabled = false;
        }
    }
     {% endcomment %}


   {% comment %} <ul>
                <li>
                <h4>fare_cat:<input name="fare_cat"></input></h4>
                </li><li>
                <h4>age_cat:<input name="age_cat"></input></h4>
                </li><li> 
                <h4>family:<input name="family"></input></h4> 
                </li><li>
                <h4>sex_female:<input name="sex_female"></input> 
                </li><li>
                <h4>sex_male:<input name="sex_male"></input></h4>
                </li><li>
                <h4>embarked_C:<input name="embarked_C"></input></h4>
                </li><li>
                <h4>embarked_Q:<input name="embarked_Q"></input></h4>
                </li><li>
                <h4>embarked_S:<input name="embarked_S"></input></h4>
                </li>
            </ul> {% endcomment %}